@charset "UTF-8";
*
, *::after
, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  overflow-x: hidden;
}

.water--fall__menu1 {
  position: absolute;
  top: 5vh;
  left: .5em;
  z-index: +1000;
  opacity: 0;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 20rem;
}

.water--fall__menu1 .water--fall__menu--container {
  background-color: white;
  color: black;
  width: 100%;
}

.water--fall__menu1 .water--fall__menu--container .water--fall__menu--item {
  padding: .8em;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.water--fall__menu1 .water--fall__menu--container .water--fall__menu--item::before {
  width: 0em;
  height: 0em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: rebeccapurple;
  display: block;
  content: "";
}

.water--fall__menu1 .water--fall__menu--container .water--fall__menu--item:hover::before {
  width: 1em;
  height: .1em;
}

.water--fall__menu2 {
  position: absolute;
  top: 7vh;
  left: .5em;
  z-index: +1000;
  opacity: 0;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 20rem;
}

.water--fall__menu2 .water--fall__menu--container {
  background-color: white;
  color: black;
  width: 100%;
}

.water--fall__menu2 .water--fall__menu--container .water--fall__menu--item {
  padding: .8em;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.water--fall__menu2 .water--fall__menu--container .water--fall__menu--item::before {
  width: 0em;
  height: 0em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: rebeccapurple;
  display: block;
  content: "";
}

.water--fall__menu2 .water--fall__menu--container .water--fall__menu--item:hover::before {
  width: 1em;
  height: .1em;
}

.water--fall__menu3 {
  position: absolute;
  top: 7vh;
  left: .5em;
  z-index: +1000;
  opacity: 0;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 20rem;
}

.water--fall__menu3 .water--fall__menu--container {
  background-color: white;
  color: black;
  width: 100%;
}

.water--fall__menu3 .water--fall__menu--container .water--fall__menu--item {
  padding: .8em;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.water--fall__menu3 .water--fall__menu--container .water--fall__menu--item::before {
  width: 0em;
  height: 0em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: rebeccapurple;
  display: block;
  content: "";
}

.water--fall__menu3 .water--fall__menu--container .water--fall__menu--item:hover::before {
  width: 1em;
  height: .1em;
}

.water--fall__menu4 {
  position: absolute;
  top: 7vh;
  left: .5em;
  z-index: +1000;
  opacity: 0;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 20rem;
}

.water--fall__menu4 .water--fall__menu--container {
  background-color: white;
  color: black;
  width: 100%;
}

.water--fall__menu4 .water--fall__menu--container .water--fall__menu--item {
  padding: .8em;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.water--fall__menu4 .water--fall__menu--container .water--fall__menu--item::before {
  width: 0em;
  height: 0em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: rebeccapurple;
  display: block;
  content: "";
}

.water--fall__menu4 .water--fall__menu--container .water--fall__menu--item:hover::before {
  width: 1em;
  height: .1em;
}

.water--fall__menu5 {
  position: absolute;
  top: 7vh;
  left: .5em;
  z-index: +1000;
  opacity: 0;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 20rem;
}

.water--fall__menu5 .water--fall__menu--container {
  background-color: white;
  color: black;
  width: 100%;
}

.water--fall__menu5 .water--fall__menu--container .water--fall__menu--item {
  padding: .8em;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.water--fall__menu5 .water--fall__menu--container .water--fall__menu--item::before {
  width: 0em;
  height: 0em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: rebeccapurple;
  display: block;
  content: "";
}

.water--fall__menu5 .water--fall__menu--container .water--fall__menu--item:hover::before {
  width: 1em;
  height: .1em;
}

.water--fall__menu6 {
  position: absolute;
  top: 7vh;
  left: .5em;
  z-index: +1000;
  opacity: 0;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 20rem;
}

.water--fall__menu6 .water--fall__menu--container {
  background-color: white;
  color: black;
  width: 100%;
}

.water--fall__menu6 .water--fall__menu--container .water--fall__menu--item {
  padding: .8em;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.water--fall__menu6 .water--fall__menu--container .water--fall__menu--item::before {
  width: 0em;
  height: 0em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: rebeccapurple;
  display: block;
  content: "";
}

.water--fall__menu6 .water--fall__menu--container .water--fall__menu--item:hover::before {
  width: 1em;
  height: .1em;
}

.header__item {
  height: 12vh;
}

.header__search--box {
  margin-right: 4rem !important;
  -webkit-transition: all .3s ease-in-out !important;
  transition: all .3s ease-in-out !important;
  padding: .7em 1em !important;
}

.header__search--box:hover {
  background-color: #4d4d64;
  border-radius: 1rem !important;
}

.headeruser:hover .user__profile__container {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.headeruser .user__profile__container {
  position: absolute;
  padding: 2rem 3rem;
  color: white;
  top: 9vh;
  background-color: #6551e6;
  right: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: +1000000;
  border-radius: 2rem;
  width: 45rem;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.headeruser .user__profile__container::before {
  content: "";
  border: 1.3rem solid #6551e6;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: -1.3rem;
  right: 2rem;
}

.headeruser .user__profile__container .user--profile__img {
  width: 30rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
  background-image: url("../../Media/02_cover/leaves.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
  padding: 1rem 0;
}

.headeruser .user__profile__container .user--profile__img::before {
  content: none !important;
}

.headeruser .user__profile__container .user--profile__img img {
  width: 70%;
  height: 100%;
  border-radius: 50%;
}

.headeruser .user__profile__container div {
  font-size: 2rem;
  padding: 1rem 0;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.headeruser .user__profile__container div:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  width: 5rem;
}

.headeruser .user__profile__container div::before {
  content: "";
  width: 0rem;
  border: 0.2rem solid white;
  margin-right: 2rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.active__notification::before {
  content: "\f0f3";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.notofifcation__status::after {
  content: "7";
  position: absolute;
  background-color: red;
  border-radius: 20rem;
  padding: .1rem .8rem;
  font-size: 2rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -1.1rem;
  right: calc(100% - 1rem);
}

.header__product {
  background-image: url("../../Media/01_header/bg.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
}

.main {
  width: auto !important;
  margin: 0 5rem;
  position: relative;
  margin-bottom: 15rem;
}

.main .main__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr;
      grid-template-columns: 2fr 4fr;
  gap: 5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.main .main__container .left__side {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #515173;
  padding: 3rem 1.5rem;
  border-radius: 2rem;
}

.main .main__container .left__side .user__image {
  background-image: url("../../Media/02_cover/leaves.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2rem;
  padding: 2rem 0;
}

.main .main__container .left__side .user__image img {
  height: 30rem;
  width: 90%;
  border-radius: 50%;
  opacity: .96;
}

.main .main__container .left__side .user__image--button__container {
  margin-top: 3rem;
}

.main .main__container .left__side .user__image--button__container .upload__img:hover:after {
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}

.main .main__container .left__side .user__image--button__container .upload__img::after {
  content: "\f0c1";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  width: 4rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(20rem);
          transform: translateX(20rem);
  position: absolute;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.main .main__container .left__side .user__image--button__container .delete__img:hover:after {
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}

.main .main__container .left__side .user__image--button__container .delete__img::after {
  content: "\f1f8";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  width: 4rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(20rem);
          transform: translateX(20rem);
  position: absolute;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.main .main__container .left__side .user__image--button__container .upload__img, .main .main__container .left__side .user__image--button__container .delete__img {
  width: 100%;
  border-radius: 5rem;
  border: 0.3rem solid #797889;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  overflow: hidden;
  z-index: +2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: 0rem 1rem 1rem -1rem #232f4d;
          box-shadow: 0rem 1rem 1rem -1rem #232f4d;
  font-size: 2rem;
}

.main .main__container .left__side .user__image--button__container .upload__img::before, .main .main__container .left__side .user__image--button__container .delete__img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: royalblue;
  z-index: 0;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.main .main__container .left__side .user__image--button__container .upload__img:hover::before, .main .main__container .left__side .user__image--button__container .delete__img:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.main .main__container .left__side .user__image--button__container .upload__img:hover, .main .main__container .left__side .user__image--button__container .delete__img:hover {
  -webkit-box-shadow: 0rem 2rem 3rem 0rem #102046;
          box-shadow: 0rem 2rem 3rem 0rem #102046;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.main .main__container .right__side {
  width: 100%;
  position: relative;
}

.main .main__container .right__side .cover--image--uploader__container {
  position: relative;
  height: 100%;
}

.main .main__container .right__side .cover--image--uploader__container .swiper-pagination, .main .main__container .right__side .cover--image--uploader__container .swiper-paginationI {
  position: absolute;
  margin-bottom: -8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem .5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main__container .right__side .cover--image--uploader__container .swiper-pagination::before, .main .main__container .right__side .cover--image--uploader__container .swiper-paginationI::before {
  content: "";
  width: 30%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #82828291;
  height: 100%;
  border-radius: 3rem;
}

.main .main__container .right__side hr {
  top: 8rem;
  margin: 7rem 0;
  border: none;
  border-bottom: 0.4rem solid #4d4d64;
}

.main .main__container .account--info__container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  margin-top: 15rem;
  gap: 5rem;
}

.main .main__container .account--info__container .personal--info__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .main__container .account--info__container .personal--info__container .personal--info__title {
  width: 100%;
  margin: 3rem 0;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-break: keep-all;
  overflow: hidden;
}

.main .main__container .account--info__container .personal--info__container .personal--info__title h2 {
  word-break: keep-all;
  background-color: transparent;
  z-index: +10;
}

.main .main__container .account--info__container .personal--info__container .personal--info__title::before, .main .main__container .account--info__container .personal--info__container .personal--info__title::after {
  content: "";
  width: 40%;
  display: table;
  clear: both;
  border-bottom: 0.2rem solid white;
  background-color: white;
  position: absolute;
}

.main .main__container .account--info__container .personal--info__container .personal--info__title::before {
  left: 0;
  -webkit-transform: translateX(-6rem);
          transform: translateX(-6rem);
}

.main .main__container .account--info__container .personal--info__container .personal--info__title::after {
  right: 0;
  -webkit-transform: translateX(6rem);
          transform: translateX(6rem);
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container ::-webkit-input-placeholder {
  color: #4d4d64;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container :-moz-placeholder {
  color: #4d4d64;
  opacity: 1;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container ::-moz-placeholder {
  color: #4d4d64;
  opacity: 1;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container :-ms-input-placeholder {
  color: #4d4d64;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container label {
  font-size: 1.5rem;
  width: 100%;
  margin: 1rem 0;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container label p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container input {
  padding: 1.5rem 0;
  padding-left: 4rem;
  width: 100%;
  color: #797889;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  z-index: +100;
  font-size: 2rem;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container textarea {
  z-index: +100;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container .username, .main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container .customurl, .main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.35rem solid #4d4d64;
  margin-bottom: 2rem;
  border-radius: 2rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container .username::before, .main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container .customurl::before, .main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container .email::before {
  content: "\f007";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 2.5rem;
  -webkit-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container .customurl::before {
  content: "\f0c1";
  -webkit-transform: translateX(1rem) rotate(45deg);
          transform: translateX(1rem) rotate(45deg);
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container .email::before {
  content: "\f0e0";
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container textarea {
  background-color: transparent;
  border: 0.35rem solid #4d4d64;
  border-radius: 2rem;
  font-size: 2rem;
  color: #797889;
  padding: 1rem 1.5rem;
  outline: none;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container textarea ::-webkit-input-placeholder {
  color: #4d4d64;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container textarea :-moz-placeholder {
  color: #4d4d64;
  opacity: 1;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container textarea ::-moz-placeholder {
  color: #4d4d64;
  opacity: 1;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container textarea :-ms-input-placeholder {
  color: #4d4d64;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container .submit--button {
  width: 100%;
  border-radius: 5rem;
  border: 0.3rem solid #797889;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  overflow: hidden;
  z-index: +2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: 0rem 1rem 1rem -1rem #232f4d;
          box-shadow: 0rem 1rem 1rem -1rem #232f4d;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container .submit--button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: royalblue;
  z-index: 0;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container .submit--button:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container .submit--button::before {
  z-index: -1;
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container .submit--button:hover:after {
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}

.main .main__container .account--info__container .personal--info__container .personal--info__form .personal--info__form__container .submit--button::after {
  content: "\f304";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(20rem);
          transform: translateX(20rem);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: absolute;
}

.main .main__container .account--info__container .social--media--info__container {
  width: 100%;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__title {
  width: 100%;
  margin: 3rem 0;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-break: keep-all;
  overflow: hidden;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__title h2 {
  word-break: keep-all;
  background-color: transparent;
  z-index: +10;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__title::before, .main .main__container .account--info__container .social--media--info__container .social--media--info__title::after {
  content: "";
  width: 40%;
  display: table;
  clear: both;
  border-bottom: 0.2rem solid white;
  background-color: white;
  position: absolute;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__title::before {
  left: 0;
  -webkit-transform: translateX(-13rem);
          transform: translateX(-13rem);
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__title::after {
  right: 0;
  -webkit-transform: translateX(13rem);
          transform: translateX(13rem);
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container ::-webkit-input-placeholder {
  color: #4d4d64;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container :-moz-placeholder {
  color: #4d4d64;
  opacity: 1;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container ::-moz-placeholder {
  color: #4d4d64;
  opacity: 1;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container :-ms-input-placeholder {
  color: #4d4d64;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container label {
  font-size: 1.5rem;
  width: 100%;
  margin: 1rem 0;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container label p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container input {
  padding: 1rem 0;
  padding-left: 4rem;
  width: 100%;
  margin: .5rem 0;
  color: #797889;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  z-index: +100;
  font-size: 2rem;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container .facebook__input, .main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container .twitter__input, .main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container .discord__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.35rem solid #4d4d64;
  margin-bottom: 2rem;
  border-radius: 2rem;
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container .facebook__input::before, .main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container .twitter__input::before, .main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container .discord__input::before {
  content: "\f39e";
  font-family: "Font Awesome 6 Brands";
  font-weight: 900;
  font-size: 2.5rem;
  -webkit-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container .twitter__input::before {
  content: "\f099";
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container .discord__input::before {
  content: "\f392";
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container button {
  width: 100%;
  border-radius: 5rem;
  border: 0.3rem solid #797889;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  overflow: hidden;
  z-index: +2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: 0rem 1rem 1rem -1rem #232f4d;
          box-shadow: 0rem 1rem 1rem -1rem #232f4d;
  font-size: 2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1.2rem 8rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: royalblue;
  z-index: 0;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container button:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container button:hover p::before {
  -webkit-transform: translateX(-500%) translateY(0.25rem);
          transform: translateX(-500%) translateY(0.25rem);
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container button:hover p::after {
  -webkit-transform: translateX(12rem) translateY(0.25rem);
          transform: translateX(12rem) translateY(0.25rem);
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container button p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container button p::before, .main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container button p::after {
  content: "\f0c1";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 2.5rem;
  width: 4rem;
  height: 4rem;
  position: absolute;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container button p::before {
  -webkit-transform: translateX(-12rem) translateY(0.25rem);
          transform: translateX(-12rem) translateY(0.25rem);
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container button p::after {
  font-family: "Font Awesome 6 Brands";
  -webkit-transform: translateX(500%) translateY(0.25rem);
          transform: translateX(500%) translateY(0.25rem);
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container .facebook__button p::after {
  content: "\f39e";
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container .twitter__button p::after {
  content: "\f099";
}

.main .main__container .account--info__container .social--media--info__container .social--media--info__form .social--media--info__form__container .soccial__container .discord__button p::after {
  content: "\f392";
}

.background--image--uploader__title {
  margin-top: 10rem !important;
}

.activelabel {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
  font-size: 2.25rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.activelabel p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-animation: activelabelcontent .5s .2s ease-in-out forwards;
          animation: activelabelcontent .5s .2s ease-in-out forwards;
}

.activelabel::after, .activelabel::before {
  content: "";
  display: table;
  clear: both;
  position: absolute;
  width: calc(10%);
  border-bottom: .2rem solid white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: peusudu .1s .3s linear;
          animation: peusudu .1s .3s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.activelabel::after {
  right: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.activelabel::before {
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

@-webkit-keyframes peusudu {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes peusudu {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes activelabelcontent {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    color: #5142fb;
  }
}

@keyframes activelabelcontent {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    color: #5142fb;
  }
}

.personal--info__container::before, .personal--info__container::after {
  content: "";
  display: table;
  clear: both;
  position: absolute;
  border: .3rem solid white;
  border-right-color: white;
  border-right-style: solid;
  border-right-width: 0.3rem;
  width: 200%;
  height: 110%;
  border-right: none;
  top: -5%;
  left: -50%;
  border-radius: 2rem 0 0 2rem;
}

.personal--info__container::after {
  left: -25%;
  top: -2.5%;
  height: 105%;
}

.cover--image--uploader__explore, .background--image--uploader__explore {
  margin-top: 5rem !important;
  position: relative !important;
  width: 80rem !important;
  overflow: hidden;
}

.cover--image--uploader__explore .swiper-wrapper, .background--image--uploader__explore .swiper-wrapper {
  width: 100% !important;
  height: 100% !important;
}

.cover--image--uploader__explore .swiper-wrapper .cover--image--uploader__zone, .background--image--uploader__explore .swiper-wrapper .cover--image--uploader__zone {
  width: 35rem !important;
}

.cover--image--uploader__explore .swiper-wrapper .swiper-slide, .background--image--uploader__explore .swiper-wrapper .swiper-slide {
  height: 14rem !important;
  border-radius: 2.3rem !important;
  position: relative !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden !important;
  border: 0.3rem solid #4d4d64;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.cover--image--uploader__explore .swiper-wrapper .swiper-slide::after, .background--image--uploader__explore .swiper-wrapper .swiper-slide::after {
  content: " Select   ";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  display: block;
  clear: both;
  position: absolute;
  z-index: +10;
  width: 104%;
  height: 50%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #57575796;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.cover--image--uploader__explore .swiper-wrapper .swiper-slide:hover, .background--image--uploader__explore .swiper-wrapper .swiper-slide:hover {
  border: 0.45rem solid #6551e6;
}

.cover--image--uploader__explore .swiper-wrapper .swiper-slide:hover:after, .background--image--uploader__explore .swiper-wrapper .swiper-slide:hover:after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cover--image--uploader__explore .swiper-wrapper .swiper-slide:hover img, .background--image--uploader__explore .swiper-wrapper .swiper-slide:hover img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.cover--image--uploader__explore .swiper-wrapper .swiper-slide img, .background--image--uploader__explore .swiper-wrapper .swiper-slide img {
  border-radius: 2rem;
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.cover--image--uploader__explore .swiper-wrapper .cover--image--uploader__zone, .cover--image--uploader__explore .swiper-wrapper .background--image--uploader__zone, .background--image--uploader__explore .swiper-wrapper .cover--image--uploader__zone, .background--image--uploader__explore .swiper-wrapper .background--image--uploader__zone {
  border-radius: 2rem;
}

.cover--image--uploader__explore .swiper-wrapper .cover--image--uploader__zone::after, .cover--image--uploader__explore .swiper-wrapper .background--image--uploader__zone::after, .background--image--uploader__explore .swiper-wrapper .cover--image--uploader__zone::after, .background--image--uploader__explore .swiper-wrapper .background--image--uploader__zone::after {
  content: none;
}

.cover--image--uploader__explore .swiper-wrapper .cover--image--uploader__zone:hover button::after, .cover--image--uploader__explore .swiper-wrapper .background--image--uploader__zone:hover button::after, .background--image--uploader__explore .swiper-wrapper .cover--image--uploader__zone:hover button::after, .background--image--uploader__explore .swiper-wrapper .background--image--uploader__zone:hover button::after {
  -webkit-transform: translateX(7rem);
          transform: translateX(7rem);
}

.cover--image--uploader__explore .swiper-wrapper .cover--image--uploader__zone:hover button::before, .cover--image--uploader__explore .swiper-wrapper .background--image--uploader__zone:hover button::before, .background--image--uploader__explore .swiper-wrapper .cover--image--uploader__zone:hover button::before, .background--image--uploader__explore .swiper-wrapper .background--image--uploader__zone:hover button::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.cover--image--uploader__explore .swiper-wrapper .cover--image--uploader__zone button::after, .cover--image--uploader__explore .swiper-wrapper .background--image--uploader__zone button::after, .background--image--uploader__explore .swiper-wrapper .cover--image--uploader__zone button::after, .background--image--uploader__explore .swiper-wrapper .background--image--uploader__zone button::after {
  content: "\f0c1";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  width: 4rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(20rem);
          transform: translateX(20rem);
  position: absolute;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.cover--image--uploader__explore .swiper-wrapper .cover--image--uploader__zone button, .cover--image--uploader__explore .swiper-wrapper .background--image--uploader__zone button, .background--image--uploader__explore .swiper-wrapper .cover--image--uploader__zone button, .background--image--uploader__explore .swiper-wrapper .background--image--uploader__zone button {
  padding: 1.5rem 5rem;
  border: .2rem solid white;
  color: white;
  font-size: 1.8rem;
  border-radius: 10rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: 0rem 1rem 2rem -1rem #4d68ae;
          box-shadow: 0rem 1rem 2rem -1rem #4d68ae;
}

.cover--image--uploader__explore .swiper-wrapper .cover--image--uploader__zone button::before, .cover--image--uploader__explore .swiper-wrapper .background--image--uploader__zone button::before, .background--image--uploader__explore .swiper-wrapper .cover--image--uploader__zone button::before, .background--image--uploader__explore .swiper-wrapper .background--image--uploader__zone button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: royalblue;
  z-index: 0;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  z-index: -1;
}

.cover--image--uploader__explore .swiper-wrapper .cover--image--uploader__zone button:hover, .cover--image--uploader__explore .swiper-wrapper .background--image--uploader__zone button:hover, .background--image--uploader__explore .swiper-wrapper .cover--image--uploader__zone button:hover, .background--image--uploader__explore .swiper-wrapper .background--image--uploader__zone button:hover {
  -webkit-box-shadow: 0rem 1.5rem 2rem -1rem #4d68ae;
          box-shadow: 0rem 1.5rem 2rem -1rem #4d68ae;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.cover--image--uploader__explore .swiper-wrapper .background--image--uploader__zone, .background--image--uploader__explore .swiper-wrapper .background--image--uploader__zone {
  height: 18rem !important;
}

.cover--image--uploader__explore .swiper-wrapper .background--image--uploader__img--explore, .background--image--uploader__explore .swiper-wrapper .background--image--uploader__img--explore {
  height: 18rem !important;
}

.draganddrup {
  position: fixed;
  z-index: +1000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000000da;
  display: none;
}

.draganddrup .closebtn {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 10rem;
  color: white;
  right: 10rem;
  top: 0;
  z-index: +10000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.draganddrup .draganddrup__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.draganddrup .draganddrup__container .dragplace {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.draganddrup .draganddrup__container .dragplace h3 {
  font-size: 3rem;
  color: white;
  margin-bottom: 4rem;
}

.draganddrup .draganddrup__container .dragplace .dropzone {
  width: 80%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: .5rem dashed white;
  border-radius: 2rem;
}

.draganddrup .draganddrup__container .dragplace .dropzone h3 {
  font-size: 2.25rem;
  margin-bottom: 0;
}

.draganddrup .draganddrup__container .dragplace .graparrow {
  width: 10rem;
  height: 10rem;
  color: white;
  position: absolute;
}

.draganddrup .draganddrup__container .dragplace .arrow1 {
  top: -12rem;
  left: -12rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-animation: arrow1 2s ease-in-out infinite;
          animation: arrow1 2s ease-in-out infinite;
}

.draganddrup .draganddrup__container .dragplace .arrow2 {
  top: -12rem;
  right: -12rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-animation: arrow2 2s ease-in-out infinite;
          animation: arrow2 2s ease-in-out infinite;
}

.draganddrup .draganddrup__container .dragplace .arrow3 {
  bottom: -12rem;
  right: -12rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: arrow3 2s ease-in-out infinite;
          animation: arrow3 2s ease-in-out infinite;
}

.draganddrup .draganddrup__container .dragplace .arrow4 {
  bottom: -12rem;
  left: -12rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: arrow4 2s ease-in-out infinite;
          animation: arrow4 2s ease-in-out infinite;
}

@-webkit-keyframes arrow1 {
  0% {
    top: -12rem;
    left: -12rem;
  }
  50% {
    top: -8rem;
    left: -8rem;
  }
  0% {
    top: -12rem;
    left: -12rem;
  }
}

@keyframes arrow1 {
  0% {
    top: -12rem;
    left: -12rem;
  }
  50% {
    top: -8rem;
    left: -8rem;
  }
  0% {
    top: -12rem;
    left: -12rem;
  }
}

@-webkit-keyframes arrow2 {
  0% {
    top: -12rem;
    right: -12rem;
  }
  50% {
    top: -8rem;
    right: -8rem;
  }
  0% {
    top: -12rem;
    right: -12rem;
  }
}

@keyframes arrow2 {
  0% {
    top: -12rem;
    right: -12rem;
  }
  50% {
    top: -8rem;
    right: -8rem;
  }
  0% {
    top: -12rem;
    right: -12rem;
  }
}

@-webkit-keyframes arrow3 {
  0% {
    bottom: -12rem;
    right: -12rem;
  }
  50% {
    bottom: -8rem;
    right: -8rem;
  }
  0% {
    bottom: -12rem;
    right: -12rem;
  }
}

@keyframes arrow3 {
  0% {
    bottom: -12rem;
    right: -12rem;
  }
  50% {
    bottom: -8rem;
    right: -8rem;
  }
  0% {
    bottom: -12rem;
    right: -12rem;
  }
}

@-webkit-keyframes arrow4 {
  0% {
    bottom: -12rem;
    left: -12rem;
  }
  50% {
    bottom: -8rem;
    left: -8rem;
  }
  0% {
    bottom: -12rem;
    left: -12rem;
  }
}

@keyframes arrow4 {
  0% {
    bottom: -12rem;
    left: -12rem;
  }
  50% {
    bottom: -8rem;
    left: -8rem;
  }
  0% {
    bottom: -12rem;
    left: -12rem;
  }
}
/*# sourceMappingURL=main.css.map */