@import '../Ultility/Variable' ; 
.darkHeader {
    background-color: $dark--purple--backgrnd--clr ; 
    color: $light--clr;
    .header__wallet--button{
        i , p{
            color: $light--clr;
            transition: color .5s cubic-bezier(0,2.52,.58,1);
        }
    }
    .header__blackTheme {
        background-color: $gray-scale;
    }
    .header__wallet {
        border: .3rem solid $blue--violet--clr;
        border-radius: .8rem;
        transition: all .3s ease-in-out;
        overflow: hidden;
        &::before {
            width: 100%;
            height: 100%;
            background-color: $blue--violet--clr;
            content: "";
            clear: both;
            position: absolute;
            transform: scaleX(0);
            transform-origin:right center;
            right: 0;
            transition: transform .5s cubic-bezier(.03,1.51,.44,.82);
            border-radius: 0rem;
        }
        &:hover:before{
            transform-origin: left;
            transform: scaleX(1);
        }
        &:hover {
            border: .3rem solid $gradiant-finish-purple;
            box-shadow: inset 0rem 0rem 1rem 0rem $gradiant-finish-purple ,0rem 0rem 2rem .5rem $gradiant-finish-purple ;
        }
    }
    .header__search--box {
        background-color: none;
        border-radius: 0 0 2rem 2rem;
    }
    .header__lightTheme  , .header__register--user{
        border: .3rem solid $purple--clr;
        border-radius: .8rem;
        button {
            i {
                color: $light--clr;
            }
        }
        border: .2em solid $gray-scale;
        border-radius: .5em;
    }
}
.lightHeader {
    background-color: $light--clr ; 
    .header__menu--right__container {
        color: $dark--clr;
    }
    .header__wallet {
        border: .3rem solid $purple--clr;
        border-radius: .8rem;
        transition: all .3s ease-in-out;
        overflow: hidden;
        i , p {
            transition: all .1s ease-in-out;
        }
    &::before {
        width: 100%;
        height: 100%;
        background-color: $blue--violet--clr;
        content: "";
        clear: both;
        position: absolute;
        transform: scaleX(0);
        transform-origin:right center;
        right: 0;
        transition: transform .5s cubic-bezier(.03,1.51,.44,.82);
        border-radius: 0rem;
    }
    &:hover {
        i , p {
            color:  $light--clr !important;
        }
    }
    &:hover:before{
        transform-origin: left;
        transform: scaleX(1);
    }
    }
    .header__menu--left__container {
        color: $dark--clr !important;
        .header__search--box {
            border: .3rem solid $purple--clr;
            border-radius: .8rem;
        }
        .header__wallet--button {
            i {
                color: $dark--clr;
            }
            p {
                color: $dark--clr;
            }   
        }
    }
    .header__lightTheme  {
        background-color: $purple--clr;
    }
    .header__blackTheme  , .header__register--user{
        border: .3rem solid $purple--clr;
        border-radius: .8rem;
        button {
            i {
                color: $dark--clr;
            }
        }
    }

}



.lightmenu {
    background-color: rgb(251, 249, 255);
    color: $dark--clr;
    border: .1em solid $purple--clr; 
    .menu--p {
        &::before {
            background-color: $dark--clr;
        }
    }
    .menu--li {
        &:hover {
            background-color: rgb(203, 190, 226);
        }
    }
    .menu--li1 {
        .menu--p1{
            &::before {
                background-color: $blue--violet--clr;
            }
        }
        &:hover {
            background-color: rgb(203, 190, 226);
        }
    }
    .menu1 {
        &::before {
            background-color: $light--clr;
        }
    }
}
.darkmenu {
    .menu--li {
        @include dsply-flex(center ,space-between) ;
    }
    background-color: $dark--purple--backgrnd--clr;
    color: $light--clr;
    border: .3rem solid $light--clr; 
    .menu--p {
        &::before {
            background-color: $light--clr;
        }
    }
    .menu--li {
        &:hover {
            background-color: $gray-scale;
        }
    }
    &::before {
        background-color: white;
    }
    .menu--li1 {
        .menu--p1{
            &::before {
                background-color: rgb(255, 255, 255);
            }
        }
        &:hover {
            background-color: $gray-scale;
        }
    }
    .menu1 {
        &::before {
            background-color: $light--clr;
        }
    }
}



.header{
    @include dsply-flex(center , space-between) ; 
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 3rem;
    .header__title {
        margin-left: 1rem;
        height: 5rem;
    }
        .header__menu--right__container {
            font-size: $font-size-sup-small;
            @include dsply-flex(center , space-evenly) ; 
            margin-top: .5rem;
            .header__container {
                @include dsply-column-cntr-cntr ; 
                font-size: $font-size-sup-small;
                margin: 0 .3rem 0 0 ;
                border: 0rem solid $light--clr ;
                transition: all .2s ease-in-out;
                &::after {
                    content: "";
                    display: table;
                    clear: both;
                    position: absolute;
                    width: 100%;
                    bottom: -10%;
                    right: 0;
                    border-bottom: .2rem solid $light--clr;
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: transform .2s ease-in-out;
                }
                &:hover:after {
                    transform-origin: left;
                    transform: scaleX(1);
                }
                .header__content {
                    @include dsply-flex-cntr-cntr ;
                    padding: .5rem 1rem;
                    p {
                        margin: 0 .7rem 0 0;
                    } 
                    i {
                        transform: translateY(0);
                        transition: all .3s ease-in-out;
                    }
                }
                &:hover i{
                    transform: translateY(1rem);
                }
                &:hover .menu {
                    transform: scaleY(1) ; 
                }
            }
        }
        .header__wallet {
            .header__wallet--button {
                font-size: $font-size-sup-small;
                @include dsply-flex-cntr-cntr ; 
                padding: 1rem 1.5rem;
                i {
                    font-size: $font-size-sup-small;
                    margin-right: 1.5rem;
                }
                p {
                    font-size: $font-size-sup-small;
                }
            }
        }
        .header__menu--left__container {
            @include dsply-flex(center , space-between) ; 
            font-size: $font-size-sup-small;
            margin-right: 1.5rem;
            .header__search--box {
                @include dsply-flex-cntr-cntr ; 
                margin-right: 2.5rem;
                padding: 1rem 1.5rem;
                bottom: 0;
            }
            .header__blackTheme , .header__lightTheme , .header__register--user{
                @include dsply-flex-cntr-cntr ; 
                padding: 1rem;
                width: 4rem;
                height: 4rem;
                border-radius: 1rem;
            }
            .header__register--user {
                i {
                    font-size: $font-size-normal;
                }
                .header__user--icon {
                    &::before , &::after {
                        content: "\f007";
                        font-family: "Font Awesome 6 Free";
                        font-weight: 900;
                        color: white;
                        font-size: $font-size-normal;
                    }
                    &::after {
                        content: "\f107";
                        font-size: $font-size-sup-normal;
                        position: absolute;
                        left: 50%;
                        transform: translate(-50% , 0%);
                        z-index: -1;
                        top: 0;
                        opacity: 0;
                        transition: all .3s ease-in-out;
                    }
                }
                &:hover {
                    .header__user--icon {
                        &::after {
                            top: 150%;
                            opacity: 1;
                        }
                    }
                    .register__content {
                        opacity: 1;
                        top: 170%;
                        z-index: +10;
                        transform: scaleY(1);
                    }
                }
            }
            .header__blackTheme{
                margin-right: 1.5rem;
            }
            .header__lightTheme {
                margin-right: 2rem;
            }
        }
    }
.menu{
    position: absolute;
    width: 20rem;
    top: 5.5vh;
    left: 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: all .5s ease-in-out;
    border-radius: 1rem;
    z-index: 1000;
    padding: 1rem 0em;
    .menu--li {
        transition: all .2s ease-in-out;
        padding: 1.5rem 1rem;
        .menu--p{
            width: 100%;
            @include dsply-flex(center  , space-between) ; 
            .fa-angle-right {
                transform: translateY(0rem) translateX(-1rem) !important; 
                transition: all .3s ease-in-out;
            }
        }
        &:hover .fa-angle-right {
            transform: translateY(0rem) translateX(0rem) !important; 
        }
    }
    .move__menu--left{
        @include dsply-flex(center , space-between) ;  
        &:hover .menu1 {
            transform: scaleX(1);
        }
    }
}
.menu1 {
    position: absolute;
    width: 20rem;
    top:0%;
    left:100%;
    transform-origin: left;
    transform: scaleX(0);
    transition: all .5s ease-in-out;
    z-index: 1002;
    border-radius: 1rem;
    overflow: auto;
    .menu--li1 {
        transition: all .2s ease-in-out;
        padding: 1.5rem 1rem;
        .menu--p1 {
            @include dsply-flex(center ,flex-start) ; 
            &::before{
                content: "";
                display: table;
                clear: both;
                height: .45rem;
                width: 0em;
                margin-right: 1.2rem;
                transition: all .3s ease-in-out;
            }
        }
        &:hover .menu--p1::before {
            width: 2.5rem;
        }
    }
    &::before {
        position: absolute;
        content: "";
        width: 1rem;
        height: 1rem;
        display: table;
        top: 2rem;
        left: -.4rem;
        transform: rotate(45deg);
    }
}
.active--dark {
    animation: activedark .5s ease-in-out forwards;
}
.de-active--dark {
    animation: deactivedark .5s ease-in-out forwards;
}
@keyframes activedark {
    from{
    }
    to{
        bottom: -1rem;
        background-color: white;
        border-radius: 0 0 0em 0em;
        color: black;
        font-size: $font-size-normal;
    }
}
@keyframes deactivedark {
    from{
        bottom: -1rem;
        background-color: white;
        border-radius: 0 0 0em 0em;
        color: black;
        font-size: $font-size-normal;
    }
    to{
        bottom: 0em;
        background-color: none;
        border-radius:1rem;
        color: white;
        font-size: $font-size-sub-normal;
    }
}
.header__search--block {
    transform-origin: top;
    position: fixed;
    width: 100%;
    top: 9vh;
    background-color: $light--clr;
    z-index: +100000;
    border: .6rem solid $light--clr;
    border-radius: 1.1rem;
    color: $dark--clr ;
    @include placehol(black) ; 
    .header__search--block__container {
        @include dsply-flex(center , flex-start) ; 
        .header__search--block__icon {
            margin-left: 2.5rem;
            padding: 1.5rem;
            border-right: .5rem solid $dark--purple--backgrnd--clr;
            font-size: $font-size-sup-small;
        }
        .header__search--block__input {
            padding: 1.5rem;
            width: 100%;
            input {
                width: 100%;
                font-size: $font-size-sup-small;
                transition: all .3s ease-in-out;
                color: $dark--clr ;
                &:focus {
                    padding-left: 2.5rem;
                    font-size: $font-size-normal;
                }
            }
        }
    }
}
.active--search--block {
    animation: activesearchblock .5s ease-in-out forwards;
}
.de-active--search--block {
    animation: deactivesearchblock .5s ease-in-out forwards;
}
@keyframes activesearchblock {
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1) !important;
    }
}
@keyframes deactivesearchblock {
    0%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(0);
    }
}
.fix__top {
    width: inherit;
    position: fixed ;
    top: 0;
    z-index: +10000;
}
.hidden {
    display: none;
}
.notification__register , .notification__light--theme {
    animation: notiflight 1s cubic-bezier(.31,1.91,.35,.39) forwards ;
    position: absolute;
    height: max-content;
    right: 0;
    background-color: $dark--purple--backgrnd--clr;
    padding:1.5rem 1rem 1rem 1rem;
    z-index: +100;
    @include dsply-column-cntr-cntr ; 
    color: $light--clr;
    font-size: $font-size-sup-small;
    border-radius: 1rem 0 0 1rem;
    border-bottom: .06rem solid $light--clr;
    border-left: .06rem solid $light--clr;
    border-top: .06rem solid $light--clr;
    top: 10rem;
    opacity: 0;
    transform: translateX(-40rem);
    transition: all .5s cubic-bezier(.31,1.91,.35,.39);
    .close , .close1 {
        position: absolute ;
        right: 0 ; 
        top: -1rem ; 
        @include dsply-flex-cntr-cntr ; 
        font-size: $font-size-large;
        width: 2rem;
        height: 2rem;
        color: black;
        background: $light--clr ; 
        border-radius: 50% ; 
        transform: rotate(45deg) ;
    }
    .header__register--user{
        @include dsply-flex-cntr-cntr ; 
        margin-top: 1.5rem;
        .header__register--user__notification {
            padding: 1rem;
            border: .3rem solid $gray-scale;
            border-radius: 1rem;
            margin-left: 1.5rem;
            button {
                i {
                    font-size: $font-size-normal;
                    color: $light--clr;
                }
            }
        }
    }
}
.notification__light--theme  {
    top: 25rem;
    animation: notiflight 1s 1s cubic-bezier(.31,1.91,.35,.39) forwards ;
}
@keyframes notiflight {
    0%{
        opacity: 0;
        transform: translateX(-40rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}
.register__content{
    color: $light--clr ; 
    @include dsply-column-cntr-cntr ; 
    align-items: flex-start;
    position: absolute;
    border: .2rem solid white;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background-color: $dark--purple--backgrnd--clr;
    z-index: +100;
    right: 0;
    top: 0;
    transform: scaleY(0);
    z-index: -1;
    transform-origin: top;
    transition-delay: .1s;
    transition: all .3s ease-in-out;
    width : 30rem ; 
    .signin , .signup {
        @include dsply-flex-cntr-cntr ;
        font-size: $font-size-sub-normal;
        padding: 1rem 1.5rem;
        transition: all .3s ease-in-out;
        transform: translateX(0);
        &:hover {
            transform: translateX(2rem);
        }
        i {
            height: 2rem;
            width: 2rem;
        }
        p {
            height: 2rem;
            margin-left: 1rem;
        }
    }
}
.hamburger {
    display: none;
    .hamburger__container {
        .hamburger__icon {
            width: 5rem;
            height: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span {
                width: 100%;
                position:absolute;
                border-bottom: .3rem solid $light--clr;
                transition: all .4s ease-in-out;
            }
            .line1 {
                top: 0;
            }
            .line2 {
                top: 50% ;
                transform: translate(0 , -50%);
            }
            .line3 {
                top: 100%;
                transform: translate(0 , -100%);
            }
        }
        .headder__content {
            position: absolute;
            left: 0;
            top: 120%;
            width: max-content;
            z-index: +10;
            padding: 1rem 2rem;
            border-radius: 0 0 1rem 1rem;
            background-color: #08002deb;
            backdrop-filter: blur(1px);
            border: .2rem solid $light--clr ; 
            border-top: transparent;
            transform: translateX(-120%);
            opacity: 0;
            transition: all 0.5s cubic-bezier(.6,-0.28,.74,.05);
            .header__menu--right {
                .header__menu--right__container {
                    flex-direction: column;
                    align-items: flex-start;
                    .header__content {
                        transform: none;
                        i {
                            rotate: -90deg;
                        }
                    }
                    .menu , .menu1 {
                        background-color: #08002deb;
                        top: 0;
                        left: 100%;
                    }
                }
            }
        }
    }
}
.hamburger__icon--active {
    .line2 {
        transform: translate(-400% , -50%) !important;
    }
    .line1 , .line3 {
        top: 50% !important;
        transform: translate(0 , -50%) rotate(-135deg) !important;
    }
    .line1 {
        transform: translate(0 , -50%) rotate(135deg) !important;
        transform-origin: center !important;
    }
}
.headder__content--active {
    transform: translateX(0%) !important;
    opacity: 1 !important;
}