@import '../Ultility/Variable' ; 
@import './Animation__station' ; 



.herodark {
    .hero__container{
        color: $light--clr;
        .explorebtn , .createbtn {
            color: $light--clr;
        }
    }
    .hero__button {
        border: .2em solid #5142fb;
        overflow: hidden;
        &::before {
            width: 100%;
            height: 100%;
            padding: .5em 1em;
            background-color: $blue--violet--clr;
            content: "";
            clear: both;
            position: absolute;
            transform: scaleX(0);
            transform-origin:right center;
            right: 0;
            transition: transform .5s cubic-bezier(.03,1.51,.44,.82);
            border-radius: .5em;
            margin-top: -1rem;
        }
        &:hover:before{
            transform-origin: left;
            transform: scaleX(1);
        }
        &:hover {
            border: .2em solid $gradiant-finish-purple;
            box-shadow: inset 0rem 0rem .5rem 0rem $gradiant-finish-purple ,0rem 0rem 2.5rem -.5rem $gradiant-finish-purple ;
            background-color: $blue--violet--clr;
        }
    }
}
.herolight {
    .hero__container{
        color: $dark--clr ;
        .explorebtn , .createbtn {
            color: $dark--clr ;
            &:hover {
                color: $light--clr !important;
            }
        }
    }
    .hero__button {
        border: .2em solid $purple--clr;
        overflow: hidden;
        &::before {
            width: 100%;
            height: 100%;
            padding: .5em 1em;
            background-color: $blue--violet--clr;
            content: "";
            clear: both;
            position: absolute;
            transform: scaleX(0);
            transform-origin:right center;
            right: 0;
            transition: transform .5s cubic-bezier(.03,1.51,.44,.82);
            border-radius: .5em;
            margin-top: -1rem;
        }
        &:hover:before{
            transform-origin: left;
            transform: scaleX(1);
        }
        &:hover {
            border: .2em solid #5142fb;
            box-shadow: inset 0rem 0rem .5rem 0rem $gradiant-finish-purple ,0rem 0rem 2rem .5rem $gradiant-finish-purple ;
            background: rgb(244, 239, 255);
            color: $light--clr !important;
        }
    }
}
.hero {
    z-index: 5;
    margin-top: 7rem !important;
    .hero__container {
        padding: 0 2.5rem;
        height: 100%;
        overflow: hidden ; 
        @include grid-gtc-2(1fr , 1fr) ;
        .hero__left--container {
            @include dsply-column(flex-start , center) ; 
            .hero__title {
                font-size: $font-size-super-large;
                line-height: 9rem;
                .hero__colored--title {
                    background: rgb(197,81,229);
                    background: linear-gradient(180deg, rgba(197,81,229,1) 10%, rgba(101,81,230,1) 77%); 
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 900;
                }
                .hero__colored--title__hover {
                    margin-right: -2rem;
                }
            }
            .hero__description {
                font-size: $font-size-normal;
                margin-top: 2em;
            }
            .hero__button--container {
                @include dsply-flex-cntr-cntr ;
                margin-top: 4em;
                padding-bottom: 3rem ; 
                .hero__button {
                    font-size: $font-size-normal;
                    padding: .5em 1em;
                    border-radius: 3rem;
                    margin: 0 1.5em;
                    transition: all .3s ease-in-out;
                    .explorebtn , .createbtn , .createbtnlink{
                        font-size: $font-size-sub-normal;
                        @include dsply-flex-cntr-cntr ;
                        i {
                            margin-right: .3em;
                        }
                        p {
                            margin-left: .3em;
                        }
                    }
                }
            }
        }
        .hero__right--container {
            .mercury {
                width: 20rem;
                position: absolute;
                bottom: 8rem;
                left: 2rem;
                z-index: 2;
            }
            .astro {
                width: 35rem;
                transform: rotateX(180deg) rotate(108deg);
                position: absolute;
                bottom: 11rem;
                right: 22rem;
                z-index: 3;
            }
            .earth {
                width: 20rem;
                position: absolute;
                right: 8rem;
                top: 5rem;
                z-index: 2;
            }
            .custom__star {
                font-size: $font-size-small;
                color: #4a90e2 ;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                .custom__star1 , .custom__star2 , .custom__star3 {
                    i {
                        position: absolute;
                    }
                }
                .custom__star1 {
                    .star1 {
                        left: 9rem;
                        bottom: 5rem;
                    }
                    .star2 {
                        left: 20rem;
                        bottom: 3rem;
                    }
                    .star3 {
                        right: 11rem;
                        top: 10rem;
                    }
                    .star4 {
                        left: 50%;
                        top: 3rem;
                    }
                }
                .custom__star2 {
                    .star5 {
                        left: 9rem;
                        bottom: 5rem;
                    }
                    .star6 {
                        left: 20rem;
                        bottom: 3rem;
                    }
                    .star7 {
                        right: 11rem;
                        top: 10rem;
                    }
                    .star8 {
                        left: 50%;
                        top: 3rem;
                    }
                }
                .custom__star3 {
                    .star9 {
                        left: 9rem;
                        bottom: 5rem;
                    }
                    .star10 {
                        left: 30rem;
                        top: 10rem;
                    }
                    .star11 {
                        right: 5rem;
                        bottom: 15rem;
                    }
                    .star12 {
                        left: 50%;
                        top: 3rem;
                    }
                }
            }
        }
    }
}